{% extends 'base.html' %}
{% load static %}
{% block body_block %}
{% load cart_tag %}

<main class="container my-4" id="cartList">
    <!-- Featured Products -->
    <!-- <h3 class="my-4 border-bottom pb-1">Commande ({{totalitems}})</h3> -->
    <h3 class="my-4 border-bottom pb-1">Table N˚ {{table}}</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Menu</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for product_id,item in cart_data.items %}
            <tr id="cart-item-{{ product_id }}"> <!-- Add the item ID as part of the ID -->
                <td>
                    <img src="{{item.image}}" width="100" />
                    <p>{{item.name}}</p>
                </td>
                <td class="item-container">
                    <div class="quantity-container">
                        <button class="btn btn-sm btn-primary decrement-qty " data-item="{{product_id}}">-</button>
                        <input type="number" class="product-qty-{{product_id}}" value="{{item.qty}}" readonly />
                        <button class="btn btn-sm btn-primary increment-qty " data-item="{{product_id}}">+</button>
                    </div>
                    <button class="btn btn-sm btn-danger delete-item" data-item="{{product_id}}" onclick="deleteCartItem('{{ product_id }}')"><i class="fa fa-trash"></i></button>
                </td>
                <td class="product-price-{{product_id}}">{{item.price}}f</td>
                <td class="product-total-{{product_id}}">{% widthratio item.price 1 item.qty %}f</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"></td>
                <th>Total</th>
                <th><span class="total-amount">{{total_amt|floatformat:0}}f</span></th>
            </tr>
            {% if totalitems %}
            <tr>
                <td colspan="4" align="right">
                    <a href="https://paygateglobal.com/v1/page?token=2a2b0731-8259-40e3-8df0-26df05801e0e&amount={{total_amt|floatformat:0}}&description=test&identifier=10" class="btn btn-warning btn-sm">Payer et Commander <i class="fa fa-long-arrow-alt-right"></i></a>
                    <a href="{% url 'orderit' store.slug table %}" class="btn btn-dark btn-sm">Commander <i class="fa fa-long-arrow-alt-right"></i></a>
                </td>
            </tr>
            {% endif %}
        </tfoot>
    </table>
</main>

<script>
    // Increment quantity
$(document).on("click", ".increment-qty", function () {
    var _pId = $(this).attr("data-item");
    var _qtyInput = $(this).closest("tr").find(".product-qty-" + _pId);
    var currentQty = parseInt(_qtyInput.val());
    var newQty = currentQty + 1;
    _qtyInput.val(newQty); // Update the quantity value in the DOM
    updateItemTotalAmount(_pId); // Update the total amount for the item
    updateTotalAmount(); // Update the overall total amount
    updateCartData(_pId, newQty); // Update the cart session with the new quantity
});

// Decrement quantity
$(document).on("click", ".decrement-qty", function () {
    var _pId = $(this).attr("data-item");
    var _qtyInput = $(this).closest("tr").find(".product-qty-" + _pId);
    var currentQty = parseInt(_qtyInput.val());
    if (currentQty > 1) {
        var newQty = currentQty - 1;
        _qtyInput.val(newQty); // Update the quantity value in the DOM
        updateItemTotalAmount(_pId); // Update the total amount for the item
        updateTotalAmount(); // Update the overall total amount
        updateCartData(_pId, newQty); // Update the cart session with the new quantity
    }
});

// Update the total amount for the specified item
function updateItemTotalAmount(productId) {
    var quantity = parseInt($(".product-qty-" + productId).val());
    var price = parseFloat($(".product-price-" + productId).text());
    var totalAmount = quantity * price;
    $(".product-total-" + productId).text(totalAmount.toFixed(0) + "f");
}

// Update the overall total amount
function updateTotalAmount() {
    var totalAmount = 0;
    $(".item-container").each(function () {
        var productId = $(this).find(".delete-item").attr("data-item");
        var quantity = parseInt($(".product-qty-" + productId).val());
        var price = parseFloat($(".product-price-" + productId).text());
        totalAmount += quantity * price;
    });
    $(".total-amount").text(totalAmount.toFixed(0) + "f");
}

// Update the cart session with the new quantity
function updateCartData(productId, newQty) {

    var url = "/<slug>/<table_id>/update-cart"; // Replace <slug> and <table_id> with actual values
    url = url.replace("<slug>", "{{store.slug}}").replace("<table_id>", "{{table}}"); // Replace placeholders with template variables
    
    $.ajax({
        type: "POST",
        url: url,
        data: {
            product_id: productId,
            quantity: newQty
        },
        success: function (response) {
            console.log("Cart session updated successfully.");
        },
        error: function (error) {
            console.log("Error updating cart session:", error);
        }
    });
}

// Delete Cart Item
function deleteCartItem(productId) {
    var url = "/<slug>/<table_id>/delete-from-cart"; // Replace <slug> and <table_id> with actual values
    url = url.replace("<slug>", "{{store.slug}}").replace("<table_id>", "{{table}}"); // Replace placeholders with template variables

    $.ajax({
        type: "POST",
        url: url,
        data: {
            product_id: productId
        },
        success: function (response) {
            if (response.success) {
                console.log("Item deleted successfully from the cart.");

                // Remove the deleted item from the DOM
                var deletedItem = $("#cart-item-" + productId);
                deletedItem.remove();

                // Update the total amount
                updateTotalAmount(response.total_amt);

                // Perform any additional actions after deleting the item from the cart
            } else {
                console.log("Error deleting item from the cart:", response.error);
            }
        },
        error: function (error) {
            console.log("Error deleting item from the cart:", error);
        }
    });
}
   

</script>
{% endblock %}



