{% extends 'base.html' %}
{% load static %}
{% block body_block %}
{% load cart_tag %}


<main class="container my-4" id="cartList">
    <!-- Featured Products -->
    <!-- <h3 class="my-4 border-bottom pb-1">Commande ({{totalitems}})</h3> -->
    <h3 class="my-4 border-bottom pb-1">Table N˚ {{table}}</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Menu</th>
                <th>Quantité</th>
                <th>Prix</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for product_id,item in cart_data.items %}
            <tr>
                <td>
                    <img src="{{item.image}}" width="100" />
                    <p>{{item.name}}</p>
                </td>
                <td class="item-container">
                    <input type="number" class="product-qty-{{product_id}}" value="{{item.qty}}" />
                    <button class="btn btn-sm btn-primary update-item" data-item="{{product_id}}"><i class="fa fa-sync"></i></button>
                    <button class="btn btn-sm btn-danger delete-item" data-item="{{product_id}}"><i class="fa fa-trash"></i></button>
                </td>
                <td>{{item.price}}f</td>
                <td>{% widthratio item.price 1 item.qty %}f</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2"></td>
                <th>Total</th>
                <th>{{total_amt|floatformat:0}}f</th>
            </tr>
            {% if totalitems %}
            <tr>
                <td colspan="4" align="right">
                    <a href="https://paygateglobal.com/v1/page?token=2a2b0731-8259-40e3-8df0-26df05801e0e&amount={{total_amt|floatformat:0}}&description=test&identifier=10" class="btn btn-warning btn-sm">Payer et Commander <i class="fa fa-long-arrow-alt-right"></i></a>
                    <a href="{% url 'orderit' store.slug table %}" class="btn btn-dark btn-sm">Commander <i class="fa fa-long-arrow-alt-right"></i></a>
                </td>
            </tr>
            {% endif %}
        </tfoot>
    </table>
</main>

<script>
    // Update item from cart
$(document).on("click", ".update-item", function () {
  var _pId = $(this).attr("data-item");
  var _pQty = $(".product-qty-" + _pId).val();
  var _vm = $(this);
  
  var url = "/<slug>/<table_id>/update-cart"; // Replace <slug> and <table_id> with actual values
  url = url.replace("<slug>", "{{store.slug}}").replace("<table_id>", "{{table}}"); // Replace placeholders with template variables

  // Ajax
  $.ajax({
    url: url,
    data: {
      id: _pId,
      qty: _pQty,
    },
    dataType: "json",
    beforeSend: function () {
      _vm.attr("disabled", true);
    },
    success: function (res) {
      _vm.attr("disabled", false);
      $("#cartList").html(res.data);
    },
  });
  // End
});

// Delete item from cart
$(document).on("click", ".delete-item", function () {
  var _pId = $(this).attr("data-item");
  var _vm = $(this);
  var url = "/<slug>/<table_id>/delete-from-cart"; // Replace <slug> and <table_id> with actual values
  url = url.replace("<slug>", "{{store.slug}}").replace("<table_id>", "{{table}}"); // Replace placeholders with template variables
  // Ajax
  $.ajax({
    url: url,
    data: {
      id: _pId,
    },
    dataType: "json",
    beforeSend: function () {
      _vm.attr("disabled", true);
    },
    success: function (res) {
      $(".cart-count").text(res.totalitems);
      _vm.attr("disabled", false);
      $("#cartList").html(res.data);
    },
  });
  // End
});
</script>
{% endblock %}
