{% extends 'base.html' %}
{% load humanize %}

{% block body_block %}
 
<div class="alert alert-success" role="alert">
    Votre commande a été bien prise en compte, Merci de patienter un instant !
    </div>
    <a href="{% url 'store' store.slug table %}">
        <button class="btn-store">Voir Menu</button>
      </a>
      <br>

{% for key,value in d.items %}
<h4>Etat de ma commande Table N˚ {{key}}</h4>
    <div class='col-sm-8 col-sm-offset-2'>
        <table class='table'>
        <thead>
            <th>Menu</th>
            <th>Prix</th>
            <th>Qté</th>
            <th>Total</th>
            <th>Statut</th>
        </thead>
        <tfoot>
                <br>
                {% for val in value %}
                <tr>
                    <td>{{val.name}}</td>
                    <td>{{val.price|floatformat:0}}</td>
                    <td>{{val.quantity}}</td>
                    <td>{{val.total_amount|floatformat:0}}</td>
                    <td>En cuisson</td>
                </tr>
                {%endfor%}
        </tfoot>
        </table>
        
    </div>
    {%endfor%}

{% endblock %}

