{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Menu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'menu-style.css' %}">
  
  <!-- Custom JS -->
  <!-- <script type="text/javascript" src="{% static 'js/add_to_cart.js' %}"></script> -->
</head>

<body>

  <div class="fixed-nav">
  <div class="container">
    {% if store.membership != 'B' %}
    <div class="navbar">
      <div class="icons">
        <ul class="icons-header">
          <li class="cart-header">
            <a href="{% url 'cart' store.slug table %}">
              <i class="material-icons">shopping_cart</i>
              <span class="cart-count">{{request.session.cartdata|length}}</span>
            </a>
          </li>
          <li class="cart-header">
            <a href="{% url 'order_status' store.slug table %}">
              <i class="material-icons">info</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}

    <div class="search-bar">
      <form action="{% url 'store' store.slug table %}" method="GET">
        <input type="text" name="search" placeholder="Rechercher..." value="{{ request.GET.search }}">
        <button type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>

    <!-- Display search results -->
    {% if request.GET.search %}
    <h3>Résultats de la recherche pour "{{ request.GET.search }}"</h3>
    
    <div>
      {% if products %}
      <!-- Display items -->
      <div class="tab-content"></div>
      <div id="pizza" class="tab-pane fade in active">
        {% for product in products %}
        <div class="row">
          <div class="rs-menu-list col-md-6">
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
          </div>
          <div class="menu-pro-right col-md-6">
            <div class="pro-icon col-md-3">
              <div class="icon-box">
                <img style="height: 50px; width: 50px;" src="{{product.imageURL}}" />
              </div>
            </div>
            <div class="pro-price col-md-3">
              <h6 class="menuh6"><span class="product-price-{{product.id}}">{{product.price|floatformat:0}}</span>f</h6>
            </div>
            <div class="pro-cart col-md-5">
              <button type="button" id="modalpopup" class="btn btn-lg" data-toggle="modal"
                data-target="#myModal1{{ forloop.counter }}">{% if store.membership != 'B' %}Ajouter<i class="material-icons cart">shopping_cart</i>{% else %}Afficher<i class="material-icons cart">visibility</i>{% endif %}</button>
              <div class="modal fade" id="myModal1{{ forloop.counter }}" role="dialog">
                <div id="modalcustom" class="modal-dialog modal-sm">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div id="header-modal" class="modal-header">
                      <button type="button" id="btn-close" class="close" data-dismiss="modal">&times;</button>
                      <h4 id="title-modal" class="modal-title">{{product.name}}</h4>
                    </div>
                    <div class="row">
                      <div id="custom-body" class="modal-body">
                        <div class="col-md-12">
                          <img src="{{product.imageURL}}">
                        </div>
                      </div>
                    </div>
                    {% if store.membership != 'B' %}
                    <div id="custom-footer" class="modal-footer">
                        <h3 style="font:bold; font-weight: 100px; color: #312783;" class="modal-title">AJOUTER AU PANIER ?</h3>
                        <button id="btn-custom" type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty" />
                        <input type="hidden" class="product-image-{{product.id}}" value="{{product.imageURL}}" />
                        <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
                        <input type="hidden" class="product-name-{{product.id}}" value="{{product.name}}" />
                        <button id="btn-custom" type="button" class="btn btn-default add-to-cart" data-dismiss="modal"
                            data-index="{{product.id}}">Confirmer</button>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      {% empty %}
      <p>Aucun menu trouvé.</p>
      {% endfor %}
      {% else %}
      <p>Aucun menu disponible.</p>
      {% endif %}
    </div>
    {% else %}

    <div class="section-header">
      <div class="section-heading">
        <h2 class="title"><img src="{% static 'TDM LOGO_Plan de travail 1.svg' %}" alt="TDM"></h2>
      </div>
    </div>

    <ul id="menu-nav" class="nav nav-pills red">
      <li id="tabs"><a id="defaultOpen" data-toggle="tab" href="#pizza">Pizza</a></li>
      <li id="tabs"><a data-toggle="tab" href="#africaine">Africaine</a></li>
      <li id="tabs"><a data-toggle="tab" href="#salades">Salades</a></li>
      <li id="tabs"><a data-toggle="tab" href="#burgers">Burgers</a></li>
      <li id="tabs"><a data-toggle="tab" href="#sandwiches">Sandwiches</a></li>
      <li id="tabs"><a data-toggle="tab" href="#drinks">Boissons</a></li>


    </ul>

    <div class="tab-content">
      <div id="pizza" class="tab-pane fade in active">
        {% for product in pizza %}
        <div class="row">
          <div class="rs-menu-list col-md-6">
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
          </div>
          <div class="menu-pro-right col-md-6">
            <div class="pro-icon col-md-3">
              <div class="icon-box">
                <img style="height: 50px; width: 50px;" src="{{product.imageURL}}" />
              </div>
            </div>
            <div class="pro-price col-md-3">
              <h6 class="menuh6"><span class="product-price-{{product.id}}">{{product.price|floatformat:0}}</span>f</h6>
            </div>
            <div class="pro-cart col-md-5">
              <button type="button" id="modalpopup" class="btn btn-lg" data-toggle="modal"
                data-target="#myModal1{{ forloop.counter }}">{% if store.membership != 'B' %}Ajouter<i class="material-icons cart">shopping_cart</i>{% else %}Afficher<i class="material-icons cart">visibility</i>{% endif %}</button>
              <div class="modal fade" id="myModal1{{ forloop.counter }}" role="dialog">
                <div id="modalcustom" class="modal-dialog modal-sm">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div id="header-modal" class="modal-header">
                      <button type="button" id="btn-close" class="close" data-dismiss="modal">&times;</button>
                      <h4 id="title-modal" class="modal-title">{{product.name}}</h4>
                    </div>
                    <div class="row">
                      <div id="custom-body" class="modal-body">
                        <div class="col-md-12">
                          <img src="{{product.imageURL}}">
                        </div>
                      </div>
                    </div>
                    {% if store.membership != 'B' %}
                    <div id="custom-footer" class="modal-footer">
                    <div>
                      <h3 style="font:bold; font-weight: 100px; color: #312783;" class="modal-title">AJOUTER AU PANIER ?</h3>
                      </div>
                        <button id="btn-custom" type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty" />
                        <input type="hidden" class="product-image-{{product.id}}" value="{{product.imageURL}}" />
                        <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
                        <input type="hidden" class="product-name-{{product.id}}" value="{{product.name}}" />
                        <button id="btn-custom" type="button" class="btn btn-default add-to-cart" data-dismiss="modal"
                            data-index="{{product.id}}">Confirmer</button>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <div id="africaine" class="tab-pane fade in active">
        {% for product in africaine %}
        <div class="row">
          <div class="rs-menu-list col-md-6">
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
          </div>
          <div class="menu-pro-right col-md-6">
            <div class="pro-icon col-md-3">
              <div class="icon-box">
                <img style="height: 50px; width: 50px;" src="{{product.imageURL}}" />
              </div>
            </div>
            <div class="pro-price col-md-3">
              <h6 class="menuh6"><span class="product-price-{{product.id}}">{{product.price|floatformat:0}}</span>f</h6>
            </div>
            <div class="pro-cart col-md-5">
              <button type="button" id="modalpopup" class="btn btn-lg" data-toggle="modal"
                data-target="#africaineModal{{ forloop.counter }}">{% if store.membership != 'B' %}Ajouter<i class="material-icons cart">shopping_cart</i>{% else %}Afficher<i class="material-icons cart">visibility</i>{% endif %}</button>
              <div class="modal fade" id="#africaineModal{{ forloop.counter }}" role="dialog">
                <div id="modalcustom" class="modal-dialog modal-sm">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div id="header-modal" class="modal-header">
                      <button type="button" id="btn-close" class="close" data-dismiss="modal">&times;</button>
                      <h4 id="title-modal" class="modal-title">{{product.name}}</h4>
                    </div>
                    <div class="row">
                      <div id="custom-body" class="modal-body">
                        <div class="col-md-12">
                          <img src="{{product.imageURL}}">
                        </div>
                      </div>
                    </div>
                    {% if store.membership != 'B' %}
                    <div id="custom-footer" class="modal-footer">
                      <div>
                      <h3 style="font:bold; font-weight: 100px; color: #312783;" class="modal-title">AJOUTER AU PANIER ?</h3>
                      </div>
                        <button id="btn-custom" type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty" />
                        <input type="hidden" class="product-image-{{product.id}}" value="{{product.imageURL}}" />
                        <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
                        <input type="hidden" class="product-name-{{product.id}}" value="{{product.name}}" />
                        <button id="btn-custom" type="button" class="btn btn-default add-to-cart" data-dismiss="modal"
                            data-index="{{product.id}}">Confirmer</button>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <div id="salades" class="tab-pane fade in active">
        {% for product in salade %}
        <div class="row">
          <div class="rs-menu-list col-md-6">
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
          </div>
          <div class="menu-pro-right col-md-6">
            <div class="pro-icon col-md-3">
              <div class="icon-box">
                <img style="height: 50px; width: 50px;" src="{{product.imageURL}}" />
              </div>
            </div>
            <div class="pro-price col-md-3">
              <h6 class="menuh6"><span class="product-price-{{product.id}}">{{product.price|floatformat:0}}</span>f</h6>
            </div>
            <div class="pro-cart col-md-5">
              <button type="button" id="modalpopup" class="btn btn-lg" data-toggle="modal"
                data-target="#myModal2{{ forloop.counter }}">{% if store.membership != 'B' %}Ajouter<i class="material-icons cart">shopping_cart</i>{% else %}Afficher<i class="material-icons cart">visibility</i>{% endif %}</button>
              <div class="modal fade" id="myModal2{{ forloop.counter }}" role="dialog">
                <div id="modalcustom" class="modal-dialog modal-sm">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div id="header-modal" class="modal-header">
                      <button type="button" id="btn-close" class="close" data-dismiss="modal">&times;</button>
                      <h4 id="title-modal" class="modal-title">{{product.name}}</h4>
                    </div>
                    <div class="row">
                      <div id="custom-body" class="modal-body">
                        <div class="col-md-12">
                          <img src="{{product.imageURL}}">
                        </div>
                      </div>
                    </div>
                    {% if store.membership != 'B' %}
                    <div id="custom-footer" class="modal-footer">
                    <h3 style="font:bold; font-weight: 100px; color: #312783;" class="modal-title">AJOUTER AU PANIER ?</h3>
                      <button id="btn-custom" type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty" />
                        <input type="hidden" class="product-image-{{product.id}}" value="{{product.imageURL}}" />
                        <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
                        <input type="hidden" class="product-name-{{product.id}}" value="{{product.name}}" />
                        <button id="btn-custom" type="button" class="btn btn-default add-to-cart" data-dismiss="modal"
                            data-index="{{product.id}}">Confirmer</button>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <div id="burgers" class="tab-pane fade in active">
        {% for product in burger %}
        <div class="row">
          <div class="rs-menu-list col-md-6">
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
          </div>
          <div class="menu-pro-right col-md-6">
            <div class="pro-icon col-md-3">
              <div class="icon-box">
                <img style="height: 50px; width: 50px;" src="{{product.imageURL}}" />
              </div>
            </div>
            <div class="pro-price col-md-3">
              <h6 class="menuh6"><span class="product-price-{{product.id}}">{{product.price|floatformat:0}}</span>f</h6>
            </div>
            <div class="pro-cart col-md-5">
              <button type="button" id="modalpopup" class="btn btn-lg" data-toggle="modal"
                data-target="#myModal3{{ forloop.counter }}">{% if store.membership != 'B' %}Ajouter<i class="material-icons cart">shopping_cart</i>{% else %}Afficher<i class="material-icons cart">visibility</i>{% endif %}</button>
              <div class="modal fade" id="myModal3{{ forloop.counter }}" role="dialog">
                <div id="modalcustom" class="modal-dialog modal-sm">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div id="header-modal" class="modal-header">
                      <button type="button" id="btn-close" class="close" data-dismiss="modal">&times;</button>
                      <h4 id="title-modal" class="modal-title">{{product.name}}</h4>
                    </div>
                    <div class="row">
                      <div id="custom-body" class="modal-body">
                        <div class="col-md-12">
                          <img src="{{product.imageURL}}">
                        </div>
                      </div>
                    </div>
                    {% if store.membership != 'B' %}
                    <div id="custom-footer" class="modal-footer">
                    <h3 style="font:bold; font-weight: 100px; color: #312783;" class="modal-title">AJOUTER AU PANIER ?</h3>
                      <button id="btn-custom" type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty" />
                        <input type="hidden" class="product-image-{{product.id}}" value="{{product.imageURL}}" />
                        <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
                        <input type="hidden" class="product-name-{{product.id}}" value="{{product.name}}" />
                        <button id="btn-custom" type="button" class="btn btn-default add-to-cart" data-dismiss="modal"
                            data-index="{{product.id}}">Confirmer</button>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <div id="sandwiches" class="tab-pane fade in active">
        {% for product in sandwich %}
        <div class="row">
          <div class="rs-menu-list col-md-6">
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
          </div>
          <div class="menu-pro-right col-md-6">
            <div class="pro-icon col-md-3">
              <div class="icon-box">
                <img style="height: 50px; width: 50px;" src="{{product.imageURL}}" />
              </div>
            </div>
            <div class="pro-price col-md-3">
              <h6 class="menuh6"><span class="product-price-{{product.id}}">{{product.price|floatformat:0}}</span>f</h6>
            </div>
            <div class="pro-cart col-md-5">
              <button type="button" id="modalpopup" class="btn btn-lg" data-toggle="modal"
                data-target="#myModal4{{ forloop.counter }}">{% if store.membership != 'B' %}Ajouter<i class="material-icons cart">shopping_cart</i>{% else %}Afficher<i class="material-icons cart">visibility</i>{% endif %}</button>
              <div class="modal fade" id="myModal4{{ forloop.counter }}" role="dialog">
                <div id="modalcustom" class="modal-dialog modal-sm">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div id="header-modal" class="modal-header">
                      <button type="button" id="btn-close" class="close" data-dismiss="modal">&times;</button>
                      <h4 id="title-modal" class="modal-title">{{product.name}}</h4>
                    </div>
                    <div class="row">
                      <div id="custom-body" class="modal-body">
                        <div class="col-md-12">
                          <img src="{{product.imageURL}}">
                        </div>
                      </div>
                    </div>
                    {% if store.membership != 'B' %}
                    <div id="custom-footer" class="modal-footer">
                    <h3 style="font:bold; font-weight: 100px; color: #312783;" class="modal-title">AJOUTER AU PANIER ?</h3>
                      <button id="btn-custom" type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty" />
                        <input type="hidden" class="product-image-{{product.id}}" value="{{product.imageURL}}" />
                        <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
                        <input type="hidden" class="product-name-{{product.id}}" value="{{product.name}}" />
                        <button id="btn-custom" type="button" class="btn btn-default add-to-cart" data-dismiss="modal"
                            data-index="{{product.id}}">Confirmer</button>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <div id="drinks" class="tab-pane fade in active">
        {% for product in boisson %}
        <div class="row">
          <div class="rs-menu-list col-md-6">
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
          </div>
          <div class="menu-pro-right col-md-6">
            <div class="pro-icon col-md-3">
              <div class="icon-box">
                <img style="height: 50px; width: 50px;" src="{{product.imageURL}}" />
              </div>
            </div>
            <div class="pro-price col-md-3">
              <h6 class="menuh6"><span class="product-price-{{product.id}}">{{product.price|floatformat:0}}</span>f</h6>
            </div>
            <div class="pro-cart col-md-5">
              <button type="button" id="modalpopup" class="btn btn-lg" data-toggle="modal"
                data-target="#myModal5{{ forloop.counter }}">{% if store.membership != 'B' %}Ajouter<i class="material-icons cart">shopping_cart</i>{% else %}Afficher<i class="material-icons cart">visibility</i>{% endif %}</button>
              <div class="modal fade" id="myModal5{{ forloop.counter }}" role="dialog">
                <div id="modalcustom" class="modal-dialog modal-sm">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div id="header-modal" class="modal-header">
                      <button type="button" id="btn-close" class="close" data-dismiss="modal">&times;</button>
                      <h4 id="title-modal" class="modal-title">{{product.name}}</h4>
                    </div>
                    <div class="row">
                      <div id="custom-body" class="modal-body">
                        <div class="col-md-12">
                          <img src="{{product.imageURL}}">
                        </div>
                      </div>
                    </div>
                    {% if store.membership != 'B' %}
                    <div id="custom-footer" class="modal-footer">
                    <h3 style="font:bold; font-weight: 100px; color: #312783;" class="modal-title">AJOUTER AU PANIER ?</h3>
                      <button id="btn-custom" type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty" />
                        <input type="hidden" class="product-image-{{product.id}}" value="{{product.imageURL}}" />
                        <input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
                        <input type="hidden" class="product-name-{{product.id}}" value="{{product.name}}" />
                        <button id="btn-custom" type="button" class="btn btn-default add-to-cart" data-dismiss="modal"
                            data-index="{{product.id}}">Confirmer</button>
                    </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
     
    </div>
    {% endif %}

  </div>
  </div>
</body>
<script>document.getElementById("defaultOpen").click();</script>
<script>
  // Add to cart

$(document).on("click", ".add-to-cart", function () {
  var _vm = $(this);
  var _index = _vm.attr("data-index");
  var _qty = $(".product-qty-" + _index).val();
  var _productId = $(".product-id-" + _index).val();
  var _productImage = $(".product-image-" + _index).val();
  var _productName = $(".product-name-" + _index).val();
  var _productPrice = $(".product-price-" + _index).text();
  var url = "/<slug>/<table_id>/add-to-cart"; // Replace <slug> and <table_id> with actual values
  url = url.replace("<slug>", "{{store.slug}}").replace("<table_id>", "{{table}}"); // Replace placeholders with template variables
  // Ajax
  $.ajax({
    url: url,
    data: {
      id: _productId,
      image: _productImage,
      qty: _qty,
      name: _productName,
      price: _productPrice,
    },
    dataType: "json",
    beforeSend: function () {
      _vm.attr("disabled", true);
    },
    success: function (res) {
      $(".cart-count").text(res.totalitems);
      _vm.attr("disabled", false);
    },
  });
  // End
});
// End
</script>

</html>